<div class="row">
<div class="col-md-4">
<div class="row" style="padding: 48px 58px">
<img style=" height: 227px" src="/src/assets/img/makeEasy.png">  
</div>
<div class="row" style="padding: 0px 74px">
    <span class="text-bold">MAKE IT EASY</span> 
    <span>
        Get a quote and book a service online 24/7.
        Our Techies will come to your home or office, even on evenings and weekends. No worries of data security.
    </span>
</div>
</div>
<div class="col-md-4">
    <div class="row" style="padding: 48px 58px">
        <img style=" height: 227px" src="/src/assets/img/fairTransport.png">  
        </div>
        <div class="row" style="padding: 0px 74px">
            <span class="text-bold">FAIR & TRANSPARENT PRICING</span> 
            <span>
                Get a quote and book a service online 24/7.
                Our Techies will come to your home or office, even on evenings and weekends. No worries of data security.
            </span>
        </div>
</div>
<div class="col-md-4">
    <div class="row" style="padding: 48px 58px">
        <img  style=" height: 227px" src="/src/assets/img/happiness.jpeg">  
        </div>
        <div class="row" style="padding: 0px 74px">
            <span class="text-bold">HAPPINESS GUARANTEED</span> 
            <span>
                Get a quote and book a service online 24/7.
                Our Techies will come to your home or office, even on evenings and weekends. No worries of data security.
            </span>
        </div>
</div>
</div>
