.search-box{
    width: 400px;
    height: 322px;
    background-color:white
}

.header {
    flex-direction: column;
    text-align: end;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    display: flex;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .actionButton {
    min-width: 150px;
    line-height: normal;
    text-align: center;
    padding: 8px 0;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.8px;
    background-color: yellow
}